<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <base href="/grp13/" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="stylesheets/style.css">
        {{#> scripts-css}}
        {{!-- Custom css per page can be added. --}}
        {{/scripts-css}}

        <title>{{title}}</title>
    </head>
    <body>
        {{#if @isAuthenticated}}
            <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
                <a class="navbar-brand" href="">{{i18n 'MHAVIE'}}</a>
                <ul class="navbar-nav mr-auto">
                {{#if @isAdmin}}
                    <li class="nav-item">
                            <a class="nav-link" href="users">{{i18n 'Administration'}}</a>
                    </li>
                {{/if}}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="logout">{{i18n 'Se déconnecter'}}</a>
                    </li>
                </ul>
            </nav>
        {{/if}}

        <div class="container-fluid">
            {{#> content-block}}
            {{!-- Content goes here. --}}
            {{/content-block}}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>

        <!--<footer class="footer">-->
            <!--<img class="left" src="/images/logo_pro_infirmis.png">-->
            <!--<img class="right" src="/images/logo_hes.png">-->
        <!--</footer>-->

        {{#> scripts-block}}
        {{!-- Custom scripts per page can be added. --}}
        {{/scripts-block}}
    </body>
</html>